<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store Inventory</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="navbar">
        <%-include("./partials/nav.ejs")%>
    </div>
    
    <div class="header">
        <h1>Categories</h1>
        <a href="/categories/create">Create new category</a>
    </div>
    
    <div class="topbar">
        <div class="search">
            <form action="/categories/search" method="get">
                <input name="search" type="text"
                    placeholder="Search for a category here"
                    value="<%= searchTerm ? searchTerm : '' %>"/>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="content cat-container">
        <% locals.categories.forEach(category => { %>
            <div class="cat">
                <div class="cat-content">
                    <div class="cat-name"><%= category.categoryname %></div>
                </div>
                <div class="controls">
                    <div class="edit-form">
                        <a href="/categories/update/<%= category.id %>">Edit</a>
                    </div>
                    <div class="delete-form">
                        <form action="/categories/delete/<%= category.id %>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            
        <% }); %>
    </div>
    
</body>
</html>