<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store Inventory</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="navbar">
        <%-include("./partials/nav.ejs")%>
    </div>
    
    <div class="header">
        <h1>Inventory Items</h1>
        <a href="/items/create">Add new item</a>
    </div>
    
    <div class="topbar">
        <div class="search">
            <form action="/items/search" method="get">
                <input name="search" type="text"
                    placeholder="Search for an item here"
                    value="<%= searchTerm ? searchTerm : '' %>"/>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div>
        <form action="/items" method="get">
            <fieldset>
                <legend>Filter by category:</legend>
                <% categories.forEach((category) => { %>
                    <div>
                        <input 
                            type="checkbox" 
                            name="categories" 
                            value="<%= category.id %>" 
                            id="category-<%= category.id %>" 
                            <% if (selectedCategories && selectedCategories.includes(category.id.toString())) { %> 
                                checked 
                            <% } %> 
                        />
                        <label for="category-<%= category.id %>">
                            <%= category.categoryname %>
                        </label>
                    </div>
                <% }); %>
                <button type="submit">Apply filters</button>
            </fieldset>
        </form>
    </div>
    <div class="content item-container">
        <% locals.items.forEach(item => { %>
            <div class="item">
                <div class="item-content">
                    <div class="item-title"><%= item.name %></div>
                    <div class="item-category">Category: <%= item.categoryname %></div>
                    <div class="item-brand">Brand: <%= item.brand %></div>
                    <div class="item-price">Price: $<%= item.price.toFixed(2) %></div>
                </div>
                <div class="controls">
                    <div class="edit-form">
                        <a href="/items/update/<%=item.id%>">Edit</a>
                    </div>
                    <div class="delete-form">
                        <form action="/items/delete/<%= item.id %>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</body>
</html>