<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store Inventory</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="navbar">
        <%-include("./partials/nav.ejs")%>
    </div>
    
    <div class="header">
        <h1>Update Item</h1>
    </div>
    <div class="content">
        <div class="errors-container">
            <%- include('./partials/errors.ejs') %>
        </div>
        <div class="form">
            <form action="/items/update/<%= item[0].id %>" method="POST">
                <label for="name">Name</label>
                    <input name="name" type="text" value="<%= item[0].name %>" required/>
                <label for="brand">Brand</label>
                    <input name="brand" type="text" value="<%= item[0].brand %>" required/>
                <label for="price">Price</label>
                    <input name="price" type="number" step="any" value="<%= item[0].price %>" required/>
                <label for="categoryId">Select Category:</label>
                    <select name="categoryid" id="category">
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.id %>"
                                <% if (category.id == item[0].categoryid) { %> selected <% } %>
                            >
                                <%= category.categoryname %>
                            </option>
                        <% }); %>
                    </select>
                <button class="create-btn" type="submit">Edit</button>
            </form>
        </div>
    </div>

    <div class="back-link">
        <a href="/items">Return to items</a>
    </div>

</body>
</html>